@{
	ViewBag.Title = "Contact";
}
<br />

<p>For questions and queries, You can contact us by filling in the form below.</p>
<div class="container">
    <form class="form-horizontal" role="form" method="post" action="#">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label" >Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="" required>
                <p class='text-danger'></p>		</div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label" >Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="" required>
                <p class='text-danger'></p>		</div>
        </div>
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" name="message"></textarea>
                <p class="text-danger"></p>		</div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
				
            </div>
        </div>
    </form>  
</div>