@{
    ViewBag.Title = "Home Page";
}

<section id="home-section">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
  
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We Got The Perfect Ride</h1>        
                        <h3>Your luxury vehicle for top business meetings.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Scroll Below For More</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">        
                    <hgroup>
                        <h1>Top of the range to choose from</h1>        
                        <h3>Be assured to get a car perfect for the occasion</h3>
                    </hgroup>       
                    <button class="btn btn-hero btn-lg" role="button">Scroll Below For More</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">        
                    <hgroup>
                        <h1>Any style to suit you</h1>        
                        <h3>Be it vintage,morden vehicle.We got you.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Scroll Below For More</button>
                </div>
            </div>
        </div> 
    </div>  
</section>

