@{
    ViewBag.Title = "Home Page";
}

<section id="home-section">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We Got The Perfect Ride</h1>
                        <h3>Your luxury vehicle for top business meetings.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Scroll Below For More</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Top of the range to choose from</h1>
                        <h3>Be assured to get a car perfect for the occasion</h3>
                    </hgroup>
                    <a href="#cars" target="_blank">
                    <button class="btn btn-hero btn-lg" role="button">Scroll Below For More </button>
                    </a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Any style to suit you</h1>
                        <h3>Be it vintage,morden vehicle.We got you.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Scroll Below For More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cars">
    <div class="container">
        <h2>Categories to choose from</h2>
        <p>There is a wide range of categories to choose a ride for your needs</p>
        <p>Click on the images to enlarge them.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/Benz_luxury.jpeg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/Offroad.jpeg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="~/Content/img/vw_Van.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

